.divsearch {
    max-width: 25%;
    color: #212121;
    float: left;
}

header {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: #bdc3c7;
    position: absolute;
    font-weight: 300;
}

header ul li a {
    text-decoration: none;
    color: #bdc3c7;
}

#right_header li input {
    border: 0 none;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

#left_header {
    float: left;
    margin: 1px 0 auto 30px;
}

#right_header {
    float: right;
    margin: 1px 30px auto 0;
}

#left_header li {
    list-style: none;
    float: left;
    padding: 10px;
}

#left_header a:hover,
#right_header a:hover {
    text-shadow: 3px 3px 5px #e6e6e6;
}

#right_header li {
    list-style: none;
    float: left;
    padding: 10px;
}

.div-car-logo {
    text-align: center;
    padding: 10px;
}

.div-car-logo h4{
    font-weight: 500;
    margin: 10px auto;
}

.div-car-logo img {
    width: 250px;
    height: auto;
    padding-top:10px;
}

.div-car-logo button {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
}

.divsearch h3 {
    margin: 10px auto;
    color: #e73827;
}

.divsearch button {
    border-radius: 8px;
    padding: 5px;
    margin: 3px auto;
    border: 1px solid rgba(33, 33, 33, 0.73);
    color: #212121;
    /*    border-color:#f85032;*/
}

.divsearch button:hover {
    background-color: #e73827;
    /*    border-color:#e73827;*/
    color: white;
}

button {
    background-color: #fafafa;
}

.divcartype,
.divcarbrand,
.divsocial,
.divimage,
.div-car-logo {
    border-bottom: 3px solid #767676;
    padding: 5px;
}

.divimage p {
    font-size: 15px;
}

.divsocial ul {
    list-style: none;
}

.divsocial i {
    font-size: 25px;
    margin-right: 20px;
}
.divsocial .ion-social-facebook{
    margin-right: 35px;
}
.divsocial .ion-social-instagram{
    margin-right: 25px;
}

.divsocial a {
    text-decoration: none;
    color: #212121;
}

.divsocial a:hover {
    color: #e73827;
}

.divcartype h3,
div {
    padding-left: 5px;
    padding-bottom: 5px;
}

.divcarbrand h3,
div {
    padding-left: 5px;
    padding-bottom: 5px;
}

.divsocial img {
    width: 20px;
    height: 20px;
}

.divcarnews input {
    border-radius: 5px;
}

.divcarnews h3,
div {
    padding-left: 5px;
    padding-bottom: 5px;
}

.divimage .img-sub-div {
    height: 200px;
    overflow: hidden;
}
.divimage .img-sub-div .img{
    height: 120px;
}

.divimage .img-sub-div .img a{
    text-decoration: none;
    color: #212121;
}
.divimage .img-sub-div .img a:hover{
    color: #e73827;
}
.divimage .img-sub-div .img a:visited{
    color: #6E5570;
}

.divimage .img-sub-div .img img{
    padding-right:10px;
}

.divimage .img-sub-div:hover {
    overflow-y: scroll;
}

.divimage img {
    width: 150px;
    height: 100px;
    float: left;
}

.divimage p {
    height: 150px;
}

div input {
    padding: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: roboto, sans-serif;
    background-color: #fff;
    color: #212121;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #f5f5f5;
}

.clear {
    clear: both;
}


/* ----------------------- */


/* Right Section */


/* ----------------------- */

.right-section {
    width: 75%;
    height: 100%;
    float: left;
    background-color: #f5f5f5;
    padding: 10px;
}


/* ----------------------- */


/* Upper Section */


/* ----------------------- */

.upper-div,
.lower-div {
    height: auto;
    background-color: #e3e3e3;
    padding: 10px;
    margin-bottom: 50px;
}

.video{
    height: auto;
    background-color: #e3e3e3;
    padding: 10px;
}

.upper-left-div {
    max-width: 60%;
    float: left;
}

.upper-left-div img {
    max-width: 100%;
    max-height: 100%;
}

.upper-right-div {
    float: left;
    width: 40%;
    padding: 5px 0 0 10px;
}

.upper-right-div time {
    color: #c94343;
    font-weight: bold;
}

.upper-right-div span {
    font-weight: 300;
}

.upper-right-div h2 {
    font-weight: 400;
}

.upper-right-div ul {
    list-style: none;
}

.upper-right-div ul li {
    margin: 15px 5px;
}

.info label {
    font-size: 20px;
    color: #212121;
    border: 1px solid rgba(85, 85, 85, 0.6);
    padding: 2px 8px;
    background-color: #e5e4e4;
    border-radius: 5px;
}

.info i {
    font-size: 22px;
    color: #212121;
    padding: 2px 8px;
    margin-right: 12px;
}

.info a {
    font-size: 18px;
    color: #c94343;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.info a:hover {
    background-color: #c94343;
    color: #eee;
}

.buttom i {
    float: left;
    margin: 10px;
    padding: 0px;
    color: #c94343;
}


/* ----------------------- */


/* Lower Section */


/* ----------------------- */

.lower-div {
    height: auto;
    padding: 5px;
}

.row {
    min-width: 100%;
}

.col {
    max-width: 25%;
    min-height: 25vh;
    float: left;
    margin-bottom: 5px;
}

.car-text-div {
    max-width: 96%;
    margin: 1.5vh auto;
    padding: 0;
    min-height: 22vh;
    background-color: aqua;
}

.car-div {
    max-width: 100%;
    height: 18vh;
    padding: 0;
    overflow: hidden;
}

.text-div {
    width: 100%;
    height: 4vh;
    background-color: #ecf0f1;
}

.car-div img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;

}

.car-div img:hover{
    transform: scale(1.2);
}

.link {
    float: left;
    margin-top: 1px;
    margin-left: 3px;
    padding: 2px 5px;
}

.noti {
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}

.noti i {
    color: #909090;
}

.text-div a {
    color: #c94343;
    padding: 2px;
}

.text-div a i {
    font-size: 100%;
    padding: 2px;
}

.text-div a:hover {
    color: #eee;
    background-color: #c94343;
    border-radius: 50px;
}

.text-div i {
    font-size: 70%;
    font-style: normal;
}

/* ----------------------- */


/* Video Section */


/* ----------------------- */

video{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 6px #1a1a1a;
}

.video-left{
    max-width: 60%;
    height: auto;
    float: left;
    padding: 0;
    
}
.video-right{
    max-width: 40%;
    height: auto;
    float: left;
    padding: 40px 20px;
}

.video-right h3{
    margin-bottom: 30px;
}

.video-right p{
    line-height: 28px;
}

/* ----------------------- */


/* Video Section */


/* ----------------------- */

footer{
    width: 100%;
    height: auto;
    background-color: #171717;
    color: #bdc3c7;
    text-align: center;
    padding: 15px;
}

footer div{
    padding-top: 15px;
}

footer div p{
    font-weight: 200;
    display: inline;
}









